[submodule "ingadhoc/odoo-argentina"]
	path = ingadhoc/odoo-argentina
	url = git@github.com:ingadhoc/odoo-argentina.git
	branch = 19.0
[submodule "OCA/server-auth"]
	path = OCA/server-auth
	url = git@github.com:OCA/server-auth.git
	branch = 19.0
[submodule "ingadhoc/account-financial-tools"]
	path = ingadhoc/account-financial-tools
	url = git@github.com:ingadhoc/account-financial-tools.git
	branch = 19.0
[submodule "ingadhoc/account-payment"]
	path = ingadhoc/account-payment
	url = git@github.com:ingadhoc/account-payment.git
	branch = 19.0
[submodule "OCA/partner-contact"]
	path = OCA/partner-contact
	url = git@github.com:OCA/partner-contact.git
	branch = 19.0
[submodule "ingadhoc/account-invoicing"]
	path = ingadhoc/account-invoicing
	url = git@github.com:ingadhoc/account-invoicing.git
	branch = 19.0
[submodule "OCA/account-reconcile"]
	path = OCA/account-reconcile
	url = git@github.com:OCA/account-reconcile.git
	branch = 19.0
[submodule "OCA/web"]
	path = OCA/web
	url = git@github.com:OCA/web.git
	branch = 19.0
[submodule "OCA/bank-statement-import"]
	path = OCA/bank-statement-import
	url = git@github.com:OCA/bank-statement-import.git
	branch = 19.0
[submodule "OCA/multi-company"]
	path = OCA/multi-company
	url = git@github.com:OCA/multi-company.git
	branch = 19.0
[submodule "OCA/account-payment"]
	path = OCA/account-payment
	url = git@github.com:OCA/account-payment.git
	branch = 19.0
[submodule "OCA/account-financial-reporting"]
	path = OCA/account-financial-reporting
	url = git@github.com:OCA/account-financial-reporting.git
	branch = 19.0
[submodule "ingadhoc/odoo-argentina-ce"]
	path = ingadhoc/odoo-argentina-ce
	url = git@github.com:ingadhoc/odoo-argentina-ce.git
	branch = 19.0
